extends ../extends/default


block append content
    section#main-features.section.main-feature-gray
        .container
            .row
                .col-md-8.col-sm-8.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .feature-item
                        h3.title-small
                            | Chatlogs
                        p
                            | Chatlogs are a great way to let your members report users to you. They're failsafe and do not require your users to take
                            | screenshots or you to scroll through a long channel history.