extends ../extends/default


block append content
    section#commands.section
        .container
            .section-header
                h1.section-title.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='100ms') Commands
                h2.section-subtitle.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms') Remember to prepend the prefix for your server.
            .row

