block page-header
    header#home.hero-area
        .container
            include ./navbarheader
            .contents.text-right
                h1.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')= 'Kitsune'
                p.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms')= 'A fully featured DiscordBot'
                a.btn.btn-lg.btn-primary.wow.fadeInUp(href='/invite', data-wow-duration='1000ms', data-wow-delay='400ms', target='_blank')= 'Add to Guild'
                if header!==undefined
                    if header.button
                        each val in header.button
                            a.btn.btn-lg.btn-border.wow.fadeInUp(href=val.link, data-wow-duration='1000ms', data-wow-delay='500ms')= val.text