block head
    block meta
        meta(charset='utf-8')
        meta(name='description', content='Discord FoxBot')
        meta(name='keywords', content='Discord, FoxBot, Bot')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='author', content='Fuechschen')

    block page-title
        title=pagetitle

    block css
        link(href='/public/stylesheets/bootstrap.min.css', rel='stylesheet')
        // Font Awesome CSS
        link(rel='stylesheet', href='/public/stylesheets/font-awesome.min.css', type='text/css', media='screen')
        // Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect
        link(href='/public/stylesheets/material.min.css', rel='stylesheet')
        link(href='/public/stylesheets/ripples.min.css', rel='stylesheet')
        link(href='/public/stylesheets/main.css', rel='stylesheet')
        link(href='/public/stylesheets/responsive.css', rel='stylesheet')
        link(href='/public/stylesheets/animate.min.css', rel='stylesheet')
        link(href='/public/stylesheets/materialdesignicons.min.css',rel='stylesheet')