.col-md-12
    .navbar.navbar-inverse.sticky-navigation.navbar-fixed-top(role='navigation', data-spy='affix', data-offset-top='200')
        .container
            .navbar-header
                a.logo-left(href='/')
                    i.mdi-image-timelapse
                    | Kitsune
            .navbar-right
                button#open-button.menu-icon
                    i.mdi-navigation-menu