block scripts
    script(src='/public/scripts/jquery-2.1.4.min.js')
    script(src='/public/scripts/bootstrap.min.js')
    script(src='/public/scripts/ripples.min.js')
    script(src='/public/scripts/material.min.js')
    script(src='/public/scripts/wow.js')
    script(src='/public/scripts/jquery.mmenu.min.all.js')
    script(src='/public/scripts/count-to.js')
    script(src='/public/scripts/jquery.inview.min.js')
    script(src='/public/scripts/classie.js')
    script(src='/public/scripts/jquery.nav.js')
    script(src='/public/scripts/smooth-on-scroll.js')
    script(src='/public/scripts/smooth-scroll.js')
    script(src='/public/scripts/main.js')
    script.
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
