block scripts
    script(src=(cdnurl || '') + assets['jquery-3.1.0.min.js'])
    script(src=(cdnurl || '') + assets['bootstrap.min.js'])
    script(src=(cdnurl || '') + assets['ripples.min.js'])
    script(src=(cdnurl || '') + assets['material.min.js'])
    script(src=(cdnurl || '') + assets['jquery.mmenu.all.min.js'])
    script(src=(cdnurl || '') + assets['count-to.min.js'])
    script(src=(cdnurl || '') + assets['jquery.inview.min.js'])
    script(src=(cdnurl || '') + assets['classie.min.js'])
    script(src=(cdnurl || '') + assets['jquery.nav.min.js'])
    script(src=(cdnurl || '') + assets['smooth-on-scroll.min.js'])
    script(src=(cdnurl || '') + assets['smooth-scroll.min.js'])
    script(src=(cdnurl || '') + assets['main.min.js'])
    script.
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    script.
        window.cookieconsent_options = {
            theme: '!{cdnurl || ''}!{assets['cookie_consent.min.css']}',
            dismiss: 'Dismiss',
            message: 'This website uses cookies to improve the website for you and future visitors.'
        };
    script(src=(cdnurl || '') + assets['cookie_consent.min.js'])

block append head-scripts
    script(src=(cdnurl || '') + assets['wow.min.js'])
