block scripts
    script(src=(cdnurl||'')+'/public/scripts/jquery-3.1.0.min.js')
    script(src=(cdnurl||'')+'/public/scripts/bootstrap.min.js')
    script(src=(cdnurl||'')+'/public/scripts/ripples.min.js')
    script(src=(cdnurl||'')+'/public/scripts/material.min.js')
    script(src=(cdnurl||'')+'/public/scripts/wow.min.js')
    script(src=(cdnurl||'')+'/public/scripts/jquery.mmenu.all.min.js')
    script(src=(cdnurl||'')+'/public/scripts/count-to.min.js')
    script(src=(cdnurl||'')+'/public/scripts/jquery.inview.min.js')
    script(src=(cdnurl||'')+'/public/scripts/classie.min.js')
    script(src=(cdnurl||'')+'/public/scripts/jquery.nav.min.js')
    script(src=(cdnurl||'')+'/public/scripts/smooth-on-scroll.min.js')
    script(src=(cdnurl||'')+'/public/scripts/smooth-scroll.min.js')
    script(src=(cdnurl||'')+'/public/scripts/main.min.js')
    script.
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
