block stylesheets
    link(href=(cdnurl || '') + assets['responsive.min.css'], rel='stylesheet')
    link(href=(cdnurl || '') + assets['ripples.min.css'], rel='stylesheet')
    link(href=(cdnurl || '') + assets['roboto.min.css'],rel='stylesheet')