extends ./extends/default

block append navbarinclude
    include ./navbars/navbar_dmca

block append content
    section#main-features.section.main-feature-gray
        .container
            .row
                .col-md-8.col-sm-8.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                    .feature-item
                        h3.title-small
                            | DMCA
                        p
                            | FoxBot hosts user-generated content under gg.fuechschen.space. This service is built to reduce load on third-party-services.
                            | If you find your content on this domain and you want it to be removed, please contact dmca@foxbot.fuechschen.org with detailed information
                            | about your copyright and the license you published it under and the content will be removed. Please note: When requesting a DMCA-Takedown,
                            | you have to specify your full name, a valid email-address, the source of the content and the file-url on gg.fuechschen.space. You can also specify,
                            | if you want to have the whole link to be invalidated or if you want to turn it to a 301 redirect to the content on your server.