doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='description', content='Responsive Bootstrap Landing Page Template')
        meta(name='keywords', content='Bootstrap, Landing page, Template, Registration, Landing')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='author', content='Grayrids')
        title Pluto - Material UI Inspired Bootstrap Template
        link(href='/public/stylesheets/bootstrap.min.css', rel='stylesheet')
        // Font Awesome CSS
        link(rel='stylesheet', href='/public/stylesheets/font-awesome.min.css', type='text/css', media='screen')
        // Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect
        link(href='/public/stylesheets/material.min.css', rel='stylesheet')
        link(href='/public/stylesheets/ripples.min.css', rel='stylesheet')
        link(href='/public/stylesheets/main.css', rel='stylesheet')
        link(href='/public/stylesheets/responsive.css', rel='stylesheet')
        link(href='/public/stylesheets/animate.min.css', rel='stylesheet')
    body
        .navbar.navbar-invers.menu-wrap
            .navbar-header.text-center
                a.navbar-brand.logo-right(href='javascript:void(0)')
                    i.mdi-image-timelapse
                    | Pluto
            ul.nav.navbar-nav.main-navigation
                li.active
                    a(href='#home') Home
                li
                    a(href='#features') Features
                li
                    a(href='#why') why
                li
                    a(href='#screenshot') Screenshots
                li
                    a(href='#testimonial') Testimonial
                li
                    a(href='#clients') Contact
            button#close-button.close-button Close Menu
        .content-wrap
            header#home.hero-area
                .container
                    .col-md-12
                        .navbar.navbar-inverse.sticky-navigation.navbar-fixed-top.affix(role='navigation', data-spy='affix', data-offset-top='200')
                            .container
                                .navbar-header
                                    a.logo-left(href='index.html')
                                        i.mdi-image-timelapse
                                        | Pluto
                                .navbar-right
                                    button#open-button.menu-icon
                                        i.mdi-navigation-menu
                    .contents.text-right
                        h1.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms') Pluto - Material UI Inspired Bootstrap Template
                        p.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms') Material Design Inspired HTML5 Bootstrap Template for Business and App
                        a.btn.btn-lg.btn-primary.wow.fadeInUp(href='#why', data-wow-duration='1000ms', data-wow-delay='400ms') Download
                        a.btn.btn-lg.btn-border.wow.fadeInUp(href='#features', data-wow-duration='1000ms', data-wow-delay='500ms') Learn More
            section#features.section
                .container
                    .section-header
                        h1.section-title.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='100ms') App Features
                        h2.section-subtitle.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms') Who seeks after it and wants to have it
                    .row
                        .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .features
                                .icon
                                    i.mdi-action-settings
                                .features-text
                                    h4 Built-with Bootstrap 3.5.x
                                    p
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='450ms')
                            .features
                                .icon
                                    i.mdi-action-done-all
                                .features-text
                                    h4 Material Design
                                    p
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='550ms')
                            .features
                                .icon
                                    i.mdi-image-blur-linear
                                .features-text
                                    h4 Clean and Refreshing
                                    p
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='650ms')
                            .features
                                .icon
                                    i.mdi-communication-business
                                .features-text
                                    h4 Ready for Business or App
                                    p
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='750ms')
                            .features
                                .icon
                                    i.mdi-action-favorite
                                .features-text
                                    h4 Crafted with Love
                                    p
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
                        .col-md-4.col-sm-6.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='850ms')
                            .features
                                .icon
                                    i.mdi-hardware-phonelink
                                .features-text
                                    h4 Fully Responsive Layout
                                    p
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.
            section#why.section
                .container
                    .row
                        .col-md-6.col-sm-6.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                            img(src='img/features/img1.png', alt='')
                        .col-md-6.col-sm-6.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .pull-left.content
                                h2
                                    | This is Why You Will
                                    br
                                    |  Love Pluto
                                p
                                    | Material UI Bootstrap APP and Business Template orem ipsum
                                    br
                                    |                 dolor sit amet, consectetur adipIusto quisquam idodit dolore inventore
                                    br
                                    |                 eumetur adipIusto quisquam idodit dolore inventore eum'
                                    |                 dolor sit amet, consectetur adipIusto quisquam idodit dolore inventore
                                    br
                                ul.list-item
                                    li
                                        i.mdi-action-done
                                        | OffCanvas Menu
                                    li
                                        i.mdi-action-done
                                        | Based on Material design
                                    li
                                        i.mdi-action-done
                                        | Free to Use
                                    li
                                        i.mdi-action-done
                                        | Built-with Bootstrap 3.5.x
                                    li
                                        i.mdi-action-done
                                        | Refreshing Designß
                                a.btn.btn-lg.btn-primary(href='javascript:void(0)') Downoad Now!
            section#main-features.section.main-feature-gray
                .container
                    .row
                        .col-md-8.col-sm-8.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .feature-item
                                h3.title-small
                                    | Sync with the app to analyze your fitness
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's
                                    | standard dummy text, when an unknown printer took a galley of type and scrambled it to
                                    | make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard
                                    | dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to
                                    | make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        .col-md-4.col-sm-4.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                            img.img-responsive(src='img/features/fet1.png', alt='')
            section#main-features.section
                .container
                    .row
                        .col-md-4.col-sm-4.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                            img.img-responsive(src='img/features/fet2.png', alt='')
                        .col-md-8.col-sm-8.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .feature-item
                                h3.title-small
                                    | Set a goal and improve your lifestyle
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's
                                    | standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to
                                    | make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard
                                    | dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to
                                    | make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
            section#main-features.section.main-feature-gray
                .container
                    .row
                        .col-md-8.col-sm-8.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .feature-item
                                h3.title-small
                                    | Start a Well-controlled Day!
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's
                                    | standard dummy text, when an unknown printer took a galley of type and scrambled it to
                                    | make a type specimen book. It has survived not only five centuries, but also the leap into electronicstandard
                                    | dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to
                                    | make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                        .col-md-4.col-sm-4.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                            img.img-responsive(src='img/features/fet3.png', alt='')
            section#cta
                .container
                    .row.text-center
                        h3.title-small.wow.bounce(data-wow-duration='1000ms', data-wow-delay='300ms') Join Us Today and Change Yourself
                        a.btn.btn-lg.btn-border(href='javascript:void(0)') Sign Up
            section#screenshot.section
                .container
                    .section-header
                        h1.section-title.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms') Portfolio
                        h2.section-subtitle.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms') Material UI Bootstrap APP and Business Template
                        .text-center
                            h3
                                a(href='https://graygrids.com/item/pluto-material-design-free-bootstrap-template/') You are Using Free Version, Purchase Full Version to Get All Elements/Pages
                            a.btn.btn-larg.btn-primary(href='https://graygrids.com/item/pluto-material-design-free-bootstrap-template/') Purchase Now
            section#other-features
                .container
                    .section-header
                        h1.section-title.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms') Other Features
                        h2.section-subtitle.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='400ms') Who seeks after it and wants to have it
                    .row
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='400ms')
                            .features-content
                                .icon.hi-icon-effect-3b
                                    i.mdi-action-settings
                                h3 Customization
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='600ms')
                            .features-content
                                .icon
                                    i.mdi-action-lock-outline
                                h3 Security
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='800ms')
                            .features-content
                                .icon
                                    i.mdi-file-cloud-queue
                                h3 Cloud
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='1000ms')
                            .features-content
                                .icon
                                    i.mdi-social-person-outline
                                h3 Analtyics
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='1200ms')
                            .features-content
                                .icon
                                    i.mdi-action-grade
                                h3 Performance
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='1400ms')
                            .features-content
                                .icon
                                    i.mdi-content-flag
                                h3 Network
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='1600ms')
                            .features-content
                                .icon
                                    i.mdi-communication-messenger
                                h3 Support
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        .col-md-3.col-sm-6.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='1800ms')
                            .features-content
                                .icon
                                    i.mdi-action-settings-power
                                h3 Easy
                                p
                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            section#testimonial.section
                .container
                    .section-header.text-center.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='400ms')
                        h1.section-title What People Says
                        h2.section-subtitle Material UI Bootstrap APP and Business Template
                    .row
                        .col-sm-8.col-sm-offset-2.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='400ms')
                            #testimonial-carousel.carousel.slide(data-ride='carousel')
                                // Indicators
                                ol.carousel-indicators
                                    li.active(data-target='#testimonial-carousel', data-slide-to='0')
                                    li(data-target='#testimonial-carousel', data-slide-to='1')
                                    li(data-target='#testimonial-carousel', data-slide-to='2')
                                .carousel-inner
                                    .item.active.text-center
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        .meta
                                            p
                                                | Web excutive
                                                span
                                                    a(href='http://wingthemes.com/') WingThemes
                                    .item.text-center
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        .meta
                                            p
                                                | Web excutive
                                                span
                                                    a(href='http://graygrids.com/') GrayGrids
                                    .item.text-center
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        .meta
                                            p
                                                | Web excutive
                                                span
                                                    a(href='http://landingbow.com/') LandinBow
            section#counter.section
                .container
                    .row
                        .col-md-3.col-sm-6.col-xs-12.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .counter-item
                                .icon
                                    i.mdi-action-get-app
                                h3.timer 39000
                                hr
                                h5
                                    | Free Downloads
                        .col-md-3.col-sm-6.col-xs-12.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='500ms')
                            .counter-item
                                .icon
                                    i.mdi-action-face-unlock
                                h3.timer 1046
                                hr
                                h5
                                    | Premium Users
                        .col-md-3.col-sm-6.col-xs-12.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='700ms')
                            .counter-item
                                .icon
                                    i.mdi-action-grade
                                h3.timer 6345
                                hr
                                h5
                                    | Five Start Reviews
                        .col-md-3.col-sm-6.col-xs-12.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='900ms')
                            .counter-item
                                .icon
                                    i.mdi-action-trending-up
                                h3.timer 18325
                                hr
                                h5
                                    | Active Installs
            section#clients.section
                .container
                    .section-header.text-center
                        h1.section-title.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='300ms') Featured on
                        h2.section-subtitle.wow.fadeInDown(data-wow-duration='1000ms', data-wow-delay='600ms') Material UI Bootstrap APP and Business Template
                    .row
                        .col-md-3.col-sm-3.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='300ms')
                            .client-item-wrapper
                                img(src='img/clients/img1.png', alt='')
                        .col-md-3.col-sm-3.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='500ms')
                            .client-item-wrapper
                                img(src='img/clients/img2.png', alt='')
                        .col-md-3.col-sm-3.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='700ms')
                            .client-item-wrapper
                                img(src='img/clients/img3.png', alt='')
                        .col-md-3.col-sm-3.wow.fadeInUp(data-wow-duration='1000ms', data-wow-delay='900ms')
                            .client-item-wrapper
                                img(src='img/clients/img4.png', alt='')
            section#contact
                .container
                    .row
                        .col-md-6.wow.fadeInLeft(data-wow-duration='1000ms', data-wow-delay='300ms')
                            h2.section-title That's Where We Are
                            .row
                                .col-md-6.col-sm-6
                                    .info
                                        .icon
                                            i.mdi-maps-map
                                        h4 Location
                                        p NSW, Sydney, Australia
                                .col-md-6.col-sm-6
                                    .info
                                        .icon
                                            i.mdi-content-mail
                                        h4 Email
                                        p office@graygrids.com
                                .clear
                                .col-md-6.col-sm-6
                                    .info
                                        .icon
                                            i.mdi-action-settings-phone
                                        h4 Phone Number
                                        p 0753 016 572
                                .col-md-6.col-sm-6
                                    .info
                                        .icon
                                            i.mdi-action-thumb-up
                                        h4 Social Media
                                        p @GrayGrids
                        .col-md-6.wow.fadeInRight(data-wow-duration='1000ms', data-wow-delay='300ms')
                            h2.section-title Love to Hear From You
                            .text-center
                                h3
                                    a(href='https://graygrids.com/item/pluto-material-design-free-bootstrap-template/') You are Using Free Version, Purchase Full Version to Get All Elements/Pages
                                a.btn.btn-larg.btn-primary(href='https://graygrids.com/item/pluto-material-design-free-bootstrap-template/') Purchase Now
            .map-area
                .map
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6853.31334931688!2d149.5710983929677!3d-33.43399308961885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x63680231a1016da2!2sWestern+Region+Academy+of+Sport!5e0!3m2!1sen!2sbd!4v1436826340086', width='100%', height='400', frameborder='0', style='border:0', allowfullscreen='')
            section#footer
                .container
                    .container
                        .row
                            .col-md-3.col-sm-6.col-xs-12
                                h3 Products
                                ul
                                    li
                                        a(href='http://wingthemes.com/') WingThemes
                                    li
                                        a(href='http://graygrids.com/') Graygrids
                                    li
                                        a(href='http://wpbean.com/') WPBean
                                    li
                                        a(href='http://landingbow.com/') Landingbow
                                    li
                                        a(href='http://freebiescircle.com/') FreebiesCicle
                            .col-md-3.col-sm-6.col-xs-12
                                h3 FAQs
                                ul
                                    li
                                        a(href='#') Why choose us?
                                    li
                                        a(href='#') Where we are?
                                    li
                                        a(href='#') Fees
                                    li
                                        a(href='#') Guarantee
                                    li
                                        a(href='#') Discount
                            .col-md-3.col-sm-6.col-xs-12
                                h3 About
                                ul
                                    li
                                        a(href='#') Career
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Team
                                    li
                                        a(href='#') Clients
                                    li
                                        a(href='#') Contact
                            .col-md-3.col-sm-6.col-xs-12
                                h3 Find us on
                                a.social(href='#', target='_blank')
                                    i.fa.fa-facebook
                                a.social(href='#', target='_blank')
                                    i.fa.fa-twitter
                                a.social(href='#', target='_blank')
                                    i.fa.fa-google-plus
                // Go to Top Link
                a.btn.btn-primary.back-to-top(href='#home')
                    i.mdi-hardware-keyboard-arrow-up
            section#copyright
                .container
                    .row
                        .col-md-12
                            p.copyright-text
                                | © Pluto 2015 All right reserved. Designed and Developed by
                                a(href='http://graygrids.com/')
                                    | GrayGrids
        script(src='/public/scripts/jquery-2.1.4.min.js')
        script(src='/public/scripts/bootstrap.min.js')
        script(src='/public/scripts/ripples.min.js')
        script(src='/public/scripts/material.min.js')
        script(src='/public/scripts/wow.js')
        script(src='/public/scripts/jquery.mmenu.min.all.js')
        script(src='/public/scripts/count-to.js')
        script(src='/public/scripts/jquery.inview.min.js')
        script(src='/public/scripts/classie.js')
        script(src='/public/scripts/jquery.nav.js')
        script(src='/public/scripts/smooth-on-scroll.js')
        script(src='/public/scripts/smooth-scroll.js')
        script(src='/public/scripts/main.js')
        script.
            $(document).ready(function() {
                // This command is used to initialize some elements and make them work properly
                $.material.init();
            });
